# Auto-created at build time.

/npk
/npk.tgz
/blib
/_build
/MYMETA.json
/MYMETA.yml
/META.json
/META.yml


# Auto-created at build time.
# Not removed by clean action.

/Build
/_build
/*.bak


# Markers used by builder

/build_done


# Distributions

/Alien-Archive-Npk-*/
/Alien-Archive-Npk-*.tar.gz


# Backup files

*~
\#*#
*.swp

